#optionwrapper {
	position: absolute;
	right: 1em;
}

#optionwrapper fieldset {
	background-color: white;
}

#optionwrapper > fieldset.collapse div {
	display: none;
}

#map {
	float: left;
}

#timestamp {
	font-size: 10
}

.historyline {
	fill: none;
	stroke: green;
	stroke-width: 0.1;
	marker-mid: url(#midmarker);
}